{{> messages}}
<div class="row">
	<div class="col-md-12">
		<form action="/forgot" method="POST">
			<legend>Forgot Password</legend>
			<div class="form-group">
                Please enter your email to reset your password
				<label for="email" ></label>
				<input type="email" placeholder="Email" name="email" autofocus class="form-control">
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-primary" value="Reset Password">
			</div>
		</form>
	</div>
</div>